html, body, #root {
  height: 100%;
}

/* LAYOUT STYLES */

.container{
  display: flex;
  min-height: 200px; 
  font-size:15px;
  height: 100%;
}

.columns{
  flex: 1;
}

.columns:nth-of-type(even){
  flex: 3;
  padding: 20px;
}

.table-column {
  margin: auto;
  text-align: center;
}

.table-container {
  display:inline-block;
  border: solid 1px #e5e5e5;
}

.options-column {
  background-color: #eee;
  padding:0 20px;
}

/* GRID STYLES */

.row {
  clear: left;
}

.box {
  width: 50px;
  height: 50px;
  border: solid 1px #e5e5e5;
  float: left;
}

/* BOX OPTIONS */
.grid-input {
  width: 100%;
  padding: 5px 0px;
  margin-bottom: 10px;
}

.box-menu {
  clear: left;
  display: inline-block;
}

.box-option {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.box-option.selected {
  background: #0095ff;
}

.color-input {
  width: 100%;
  margin-bottom: 10px;
}